body{
    background-image:url('../imagenes/gravel.png');
    background-repeat: repeat;
}
.card{
    border:5px none;
    border-color:rgb(33,122,223)
}
.card-deck{
    padding-top:15px;
    padding-left:15px;
    padding-right:20px;
    height: auto;
}
#eventos{
  width: 100%;
  height:auto;
}
.botonesevento{
    padding-left:70px;
    padding-right:70px;
    padding-top:10px;
    padding-bottom:10px;
}
#registrar{
    padding:10px 60px 10px 60px;
    margin-left:25%;
}

#registro{
    border:10px none;
    background-color: rgba(44,182,35,0.7);
    margin-left:20px ;
    margin-right: 20px;
    padding: 15px;
}
#user{
    padding-left:5px;
    padding-right:5px;
}
#evento{
     border:10px none;
    background-color: rgba(44,182,35,0.7);
    padding:15px;
    margin-left:20px ;
    margin-right: 20px;
}
h1{
text-align:center;
}
#eventocompleto{
    background-color: mediumaquamarine;
}
/*Borde para card deck*/
.borde{
    border: 1.2px #000000 solid;
}
/*CSS PARA COMENTARIOS DE EVENTO*/
.media .avatar {
    width: 64px;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
/*FIN CSS DE COMENTARIOS DE EVENTO*/
#imagenevento{
    border: 1px solid black;
    margin-bottom:30px;
}
.navbar{
        background-color: #55bbfa !important;
        font-style: italic !important;
}

.datosbarra{
    padding-top:3px;
}
footer{
    background-color: #55bbfa !important;
    padding: 15px;
}
.colorfooter{
     color: #ff7e09 !important;
    font-weight: bolder !important;
}
.iconos{
    color:black;
    padding-left:7px ;
    padding-right: 7px;
}

#datoscontacto{
    font-weight: bold;
}
.letrasfinas{
    font-weight: normal;
    font-size:15px ;
}
#logo{
    padding-left: 45%;
    padding-bottom: 15%;
}
.panelcontrol{
    background-color: #3ad4de;
    border: 1px solid black;
    padding: 10px;
}
#espaciogrillaadmin{
    padding-top: 20px;
    padding-bottom:20px ;
}
#iconosmiseventos_aprobado{
    color: #0dbf07;
    padding-left:7px ;
    padding-right: 7px;
}
#iconos_miseventos_desaprobado{
    color: #ff0000;
    padding-left:7px ;
    padding-right: 7px;
}
#iconosmiseventos_desaprobado{
    color: red;
    padding-left:7px ;
    padding-right: 7px;
}
.botonescomentarios{
    margin-left: 15px;
}
.botonfiltro{
    background-color: #55bbfa;
    margin-top:5px;
}
.comentariogeneral{
    margin-left: 180px;
    font-weight: bold;
}

.paginacion{
    margin: 20px 0;
}
.paginacion a{
    text-align: center;
    display:inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    color:#ffffff;
    background: #ff7e09;
    text-decoration: none;
}
.paginacion a:hover{
    background-color:#FF993D; /*Cambia de color el boton de pagina al pasar el mouse por arriba.*/
}

.paginacion_espacio{
    min-height: 1px;
    width: auto;
}

/*Estilo de template de errores 404-500*/

.all {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.estilohtml_body {
  background-image: url("../imagenes/fondo-blanco.jpg") !important;
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}



