{% from "macros.html" import mostrar_campo_comentario %}
{% from "macros.html" import mostrar_campo_submit %}
{% from "macros.html" import comentarios with context %}
{% extends "main.html" %}
{% block estilos %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
{% endblock %}
{% block iconos %}
    <link href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}" rel="stylesheet">
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div>
                <div class="col-md-12">
                    <h1>{{ evento["nombre"] }}</h1>
                </div>
                <div class="col-md-8">
                    <div id="imagenevento">
                        <img src="{{ url_for('static', filename='imagenes/'+evento["imagen"]) }}" class="card-img-top"
                             id="eventototal" alt="...">
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="card-text"><span class="oi oi-calendar" title="calendar"></span>{{ evento["fecha"] }}</p>
                    <p class="card-text"><span class="oi oi-clock" title="clock"></span>{{ evento["hora"] }}</p>
                    <p class="card-text"><span class="oi oi-map" title="map"></span>{{ evento["descripcion"] }}</p>
                    <p class="card-text"><span class="oi oi-caret-right" title="caret-right"></span>{{ evento["tipo"] }}
                    </p>
                    {% if(evento["aprobado"]==0) %}
                        <a href="{{ url_for('aprobar_evento',id=evento["eventoId"]) }}" type="button" class="btn btn-success">Aprobar Evento</a>
                    {% endif %}
                </div>
            </div>
            <a href="{{ url_for('eliminarTodosLosComentarios',id=evento["eventoId"]) }}" type="button"
               class="btn btn-warning">Eliminar Todos los Comentarios</a>

        </div>
        <div class="container">
            <div class="row">
                <form method="POST" action="{{ url_for('agregar_comentario',id=evento["eventoId"]) }}"
                      enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div style="padding-top: 20px;" class="col-md-6">
                        {{ mostrar_campo_comentario(comentario.comentario,class='form-control',style="width: 1000px; height: 100px") }}
                    </div>
                    <div class="col-md-6">
                        {{ mostrar_campo_submit(comentario.submit,class='btn btn-primary botonesevento') }}
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h4 class="comentariogeneral">Comentarios</h4>
                    </div>
                    {% for comentario in evento.comentarios %}
                        {{ comentarios(comentario) }}
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}